[submodule "sampo/vendor/GLFW"]
	path = sampo/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "sampo/vendor/spdlog"]
	path = sampo/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "sampo/vendor/glm"]
	path = sampo/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "sampo/vendor/imgui"]
	path = sampo/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "sampo/vendor/stb"]
	path = sampo/vendor/stb
	url = https://github.com/nothings/stb
